[alias]
        bl = log --graph --abbrev-commit --pretty=oneline --decorate=full
	co = checkout
	stat = status
[branch]
        autosetuprebase = always
[color]
	ui = true
[color.diff]
        frag = magenta bold
        func = white
        old = red bold
        new = green bold
[color.branch]
        current = green bold
        local = white bold
        remote = red bold
[color.interactive]
        prompt = white bold
[color.status]
        changed = magenta bold
        added = green bold
        untracked = cyan bold
[core]
	excludesfile = ~/.gitignore
[diff "odf"]
        textconv=odt2txt
[gc]
        auto=0
[merge]
	conflictstyle = diff3
