[alias]
	a = add
	aa = add --all
        bl2 = log --graph --branches --abbrev-commit --pretty=oneline --decorate=full
        bl = log --graph --branches --pretty=format:'%C(magenta)%h%C(reset) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        bl1 = log --graph --pretty=format:'%C(magenta)%h%C(reset) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        b = branch
        ba = branch -a
        bac = branch -a --contains
        bd = branch -d
        bdd = branch -D
        bl = branch -l
        br = branch -r
	co = checkout
        cb = checkout -b
        c = commit
        ca = commit --all
        cam = commit --amend
        camn = commit --amend --no-edit
	cl = clean -f -d
        cp = cherry-pick
        cpa = cherry-pick --abort
        d = diff
        dh = diff --diff-algorithm=histogram
        dc = diff --cached
        dcs = diff --cached --stat
	ds = diff --stat
	dst = diff --stat
	f = fetch
	fa = fetch --all
	fo = fetch origin
#        ps = log --pretty=oneline $(git push -n |& tail -1 | nth 1)
        g = grep
        gi = grep -i
	l1 = log --pretty=oneline
	l1s = log --pretty=oneline -n 10
	l = log
	m = merge
	ma = merge --abort
	mrb = "!sh -c \"git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2\" -"
	mr = "!sh -c \"git fetch $1 merge-requests/$2/head && git checkout FETCH_HEAD\""
        p = push
	pr = pull --rebase
	r = rebase
	re = remote
	ra = rebase --abort
	rc = rebase --continue
	rh = reset --hard
	ri = rebase --interactive
	s = status
	sh = show
	sst = show --stat
	wip = wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[branch]
        autosetupmerge = always
	sort = authordate
#        autosetuprebase = always
#        master.rebase = true
[color]
	ui = true
[color.diff]
        frag = magenta bold
#        func = white
        old = red bold
        new = green bold
[color.branch]
        current = green bold
        local = white bold
        remote = red bold
[color.interactive]
        prompt = white bold
[color.status]
        changed = magenta bold
        added = green bold
        untracked = cyan bold
[commit]
        template = ~/.gittemplate
	verbose = true
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	pager = delta
        warnambiguousrefs = false
[delta]
	syntax-theme = Monokai Extended
	features = unobtrusive-line-numbers decorations
[delta "unobtrusive-line-numbers"]
	line-numbers = true
	line-numbers-minus-style = "#444444"
	line-numbers-zero-style = "#444444"
	line-numbers-plus-style = "#444444"
	line-numbers-left-format = "{nm:>4}┊"
	line-numbers-right-format = "{np:>4}│"
	line-numbers-left-style = blue
	line-numbers-right-style = blue
[delta "decorations"]
	commit-style = raw # bold yellow # ul # box
	commit-decoration-style = # bold yellow ul # box
	file-style = "yellow ul" # bold
	file-decoration-style = none
	hunk-header-style = bold cyan
	hunk-header-decoration-style =
[diff]
	colorMoved = default
[diff "odf"]
        textconv=odt2txt
[gc]
        auto=0
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
	renamelimit = 10000
#[push]
#        default = upstream
[push]
	default = current
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/

[magit]
	hideCampaign = true
[user]
	signingkey = 0x91AD581ADAF6CE93
[gitlab "salsa.debian.org/api/v4"]
	user = seb
[rerere]
	enabled = false
 	autoupdate = true
[github]
	user = sdelafond
[gitlab]
	user = sdelafond
[pull]
	rebase = true
