[alias]
        bl2 = log --graph --branches --abbrev-commit --pretty=oneline --decorate=full
        bl = log --graph --branches --pretty=format:'%C(magenta)%h%C(reset) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        bl1 = log --graph --pretty=format:'%C(magenta)%h%C(reset) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        br = branch
	co = checkout
        c = commit --verbose
        ca = commit --verbose --all
        cam = commit --verbose --amend
        camn = commit --verbose --amend --no-edit
        cm = commit --verbose
        comm = commit --verbose
        commit = commit --verbose
        cp = cherry-pick
        d = diff
#        ps = log --pretty=oneline $(git push -n |& tail -1 | nth 1)
        g = grep
        p = pull
	pr = pull --rebase
	st = status
        stat = status	
[branch]
        autosetupmerge = always
#        autosetuprebase = always
#        master.rebase = true
[color]
	ui = true
[color.diff]
        frag = magenta bold
#        func = white
        old = red bold
        new = green bold
[color.branch]
        current = green bold
        local = white bold
        remote = red bold
[color.interactive]
        prompt = white bold
[color.status]
        changed = magenta bold
        added = green bold
        untracked = cyan bold
[commit]
        template = ~/.gittemplate
[core]
	excludesfile = ~/.gitignore
        warnambiguousrefs = false
[diff "odf"]
        textconv=odt2txt
[gc]
        auto=0
[merge]
	conflictstyle = diff3
#[push]
#        default = upstream
[push]
	default = current
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/

