.~*#
*~
\#*\#
.#*
.swp
*.pyc
*.bak
.depend
.pc
org/*.pdf
org/*.vrb
org/*.tex
org/*.log
org/*.html
org/*.mm
org/*.aux
org/*.out
org/*.toc
*.debhelper*
*.substvars
python-module-stampdir/
debian/files
fish
.emacs.d/url
core
!core/
.jnewsrc-lock
.jnewsrc.as
*history
Keybase
autostart
keybase
*.buildinfo
.ipynb_checkpoints
.env
BraveSoftware
configstore
.sync_*.db
