Trolltech.conf
chromium
!chromium/Default/User StyleSheets/Custom.css
epdfview
geeqie
gmpc
gtk-2.0
gtk-3.0
vlc
transmission
enchant
Google
dconf
evince
pavucontrol.ini
google-googletalkplugin
ipython
ario
Skype
libreoffice
htop
klavaro
darktable
menus
spotify
terminology
Popcorn-Time
Yubico
icedtea-web
LEA
pulse/
user-dirs.dirs
user-dirs.locale
easytag
googlecl
inkscape
gnuplot
freerdp
google-chrome
wireshark
