recentf
run-*.el
elpa/
projectile-bookmarks.eld
**/*.elc
bookmarks
snippets
eshell/lastdir
forge-database.sqlite
transient
elpy
org-id-locations
.trello
request
org-roam.db
network-security.data
gnus
eln-cache
